div {
  ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    color: gray;
  }

  header {
    width: 1100px;
    margin: auto;
    img {
      max-width: 110px;
    }
    nav {
      align-self: center;

      li {
        margin: 0 10px;
        width: max-content;
        font-size: 15px;
      }
    }
  }

  section {
    width: 1100px;
    margin: auto;
    h2 {
      margin-top: 20px;
      margin-left: 20px;
      font-size: 20px;
      font-weight: bold;
    }
    .link-path-list {
      justify-content: right;
      font-size: 12px;

      li {
        margin: 3px;
      }
    }
  }

  .menu-detail-article {
    margin-top: 20px;
    clear: right;
    display: flex;
    justify-content: center;

    figure {
      max-width: 50%;
      margin-right: 40px;
    }
    table {
      text-align: left;
      border-collapse: collapse;

      .menu-name {
        width: 100%;

        th {
          font-size: 20px;
          span {
            display: block;
            margin-bottom: 20px;
            font-size: 12px;
          }
        }
        .heart {
          text-align: center;

          button {
            border: none;
            width: 3rem;
            background-color: transparent;
            transition: all 0.3s;
            opacity: 0.5;
            font-size: 30px;
          }
        }
      }

      .td-title {
        padding: 25px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.507);
        div {
          display: flex;
          justify-content: space-around;
          font-size: 20px;
        }
      }
      .menu-de {
        border-top: 3px solid black;
        border-bottom: 1px solid black;
      }
    }

    .detail-de-row {
      td {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 25%;
        font-size: 12px;
      }
      .detail-table-second {
        text-align: right;
        padding-right: 10px;
        border-right: 1px solid black;
      }
      .detail-table-second + td {
        padding-left: 10px;
        padding-right: 10px;
      }
      .detail-table-second + td + td {
        text-align: right;
        padding-right: 10px;
      }
    }
  }
  .menu-al {
    margin: 20px 0;
    padding: 10px 10px;
    background-color: #efefef;
  }
  aside {
    h4 {
      padding-bottom: 10px;
      border-bottom: 1px solid black;
      font-size: 20px;
    }
    .user-id {
      font-weight: bold;
    }

    span {
      font-size: 12px;
    }

    input {
      margin-top: 20px;
      margin-bottom: 60px;
      border: none;
      padding: 10px;
      width: 95%;
      background-color: #f4f4f2;
    }
  }

  footer {
    display: flex;
    margin: 0;
    padding: 50px;
    background-color: #333333;
    font-size: 13px;
    ul {
      display: block;
      margin: 10px auto;
      padding: 0;
      color: #f4f4f2;
      li:first-child {
        padding-top: 10px;
      }
      li {
        padding: 5px 0;
      }
    }
  }
}
